nav {
  width: 90vw;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.logo {
  width: 100%;
  height: auto;
}

.logo img {
  width: 100px;
  height: 100%;
  object-fit: contain;
}

a {
  font-size: 1rem;
  font-weight: 300;
}

/* li {
  background-color: black;
  height: 36px;
  width: 126px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
} */

a:hover {
  text-decoration: underline;
  text-decoration-color: white;
}

.login,
.logout {
  background-color: black;
  height: 36px;
  width: 126px;
  border-radius: 30px;
  color: white;
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}
/* Responsive Design */
@media only screen and (max-width: 400px) {
  nav {
    width: 90vw;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
  }
  .logo {
    width: 150px;
    height: 100%;
  }
  .login,
  .logout {
    width: 22vw;
    height: 10vw;
    border-radius: 100px;
    background-color: black;
    color: white;
    text-align: center;
  }
}
