.doctor-dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner {
  width: 90vw;
}
.banner-add-exercise,
.banner-check-patient-history {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  background-color: var(--banner-grey);
  justify-content: center;
}
.banner-img {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.banner-img > img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.banner-info {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.banner-info h2,
.banner-info h3 {
  color: var(--primary-green);
}

.banner-info h3 {
  font-size: 1rem;
}
.banner-info h2 {
  font-size: 2rem;
}

.banner-add-exercise > .banner-info > h2 {
  font-size: 1.5rem;
  margin-top: 5px;
}

.doctor-functionality-button {
  background-color: black;
  height: 36px;
  width: 126px;
  border-radius: 30px;
  color: white;
  border: none;
  cursor: pointer;

  text-align: center;
  margin-top: 10px;
  font-size: 0.8rem;
  line-height: 0.9;
}

.banner-read-patient-messages,
.banner-add-details-banner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  background-color: var(--banner-blue);
  justify-content: center;
}

/* Responsive Design */
@media only screen and (min-width: 401px) and (max-width: 837px) {
  .banner-img {
    justify-content: center;
  }
  .banner-add-exercise > .banner-info > h2 {
    font-size: 1.2rem;
    margin-top: 5px;
  }
  .banner-info h3 {
    font-size: 0.8rem;
    line-height: 0.2;
  }
  .banner-info h2 {
    font-size: 1rem;
    line-height: 1;
    text-align: center;
  }

  .doctor-functionality-button {
    width: 17vw;
    height: 7vw;
    border-radius: 100px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 0.7rem;
  }
}
@media only screen and (max-width: 400px) {
  .banner-img {
    justify-content: center;
  }
  .banner-add-exercise > .banner-info > h2 {
    font-size: 1rem;
    margin-top: 5px;
  }
  .banner-info h3 {
    font-size: 0.5rem;
    line-height: 0.2;
  }
  .banner-info h2 {
    font-size: 1rem;
    line-height: 1;
    text-align: center;
  }

  .doctor-functionality-button {
    width: 20vw;
    height: 7vw;
    border-radius: 100px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 0.6rem;
  }
}
